[Desktop Entry]
Version=1.0
Name=BLOBFISH Core
Comment=BLOBFISH P2P Cryptocurrency
Comment[fr]=BLOBFISH, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BLOBFISH, eşten eşe kriptografik sanal para birimi
Exec=peppapow-qt %u
Terminal=false
Type=Application
Icon=peppapow128
MimeType=x-scheme-handler/peppapow;
Categories=Office;Finance;
StartupWMClass=Blobfish-qt
